<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" text="text/css" href="/css.css">
    <title>Lady D's Apothecary Reference Boutique</title>
</head>
<body class="show-product">

<h1> Apothecary Update Product Information Form </h1>

<p> Please be invited to help us by updating a product that may need more current information.</p>
    <br><br>
    <div>  <a class="navs" href="/"> Return to Home Page  </a> </div>
    <div>  <a class="navs" href="/products"> Return to Product List  </a> </div>

     <div id="updateProduct">
        <form action="/products/<%=product.id%>?_method=PUT" method="POST">
            <h4>Enter the category id number of the product you would like to update: </h4>
            <br><br>
            <input name="product_name" type="text" value="<%=product.product_name%>" />
            <input name="description" type="text" value="<%=product.description%>" />
            <input name="price" type="number" value="<%=product.price%>" />
            <input name="category_id" type="number" value="<%=product.category_id%>" >
            <input name="image_url" type="text" value="<%=product.image_url%>" >


            <br><br>
            <input type="submit" value="Update this product">
        </form>
</body>

</html>

